<%= form_with(model: decision, local: true) do |form| %>
  <% if decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(decision.errors.count, "error") %> prohibited this decision from being saved:</h2>

      <ul>
      <% decision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= form.label :title%>
    <%= form.text_field :title%>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class:"waves-effect waves-light btn blue" %>
    <%= link_to 'Show', @decision,  class:"waves-effect waves-light btn green" if @decision%>
    <%= link_to 'Back', decisions_path,  class:"waves-effect waves-light btn" %>
  </div>
<% end %>
