<p id="notice"><%= notice %></p>

<h3 class="">Decisions
  <%= link_to 'New Decision', new_decision_path, class:"waves-effect waves-light btn primary valign-wrapper center-align right" %>
</h3>
<table class="highlight">
  <thead>
    <tr>
      <th>Title</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @decisions.each do |decision| %>
      <tr>
        <td><%= link_to decision.title, decision %></td>
        <td>
          <%= link_to edit_decision_path(decision) do %>
            <i class="material-icons">edit</i>
          <%end%>
          <%= link_to decision, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons">delete</i>        
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

